import(methods, arm, Zelig, dplyr, lme4)

exportPattern("^[[:alpha:]]+")
exportClasses(
  "Zelig-mixed",
  "Zelig-gammamixed",
  "Zelig-lsmixed",
  "Zelig-poissonmixed"
)

importFrom(methods, setRefClass)
importFrom("MASS", "mvrnorm")
