export(model.frame.lmer)
export(param.gamma.mixed)
export(param.logit.mixed)
export(param.ls.mixed)
export(param.poisson.mixed)
export(param.probit.mixed)
export(qi.gamma.mixed)
export(qi.logit.mixed)
export(qi.ls.mixed)
export(qi.poisson.mixed)
export(qi.probit.mixed)
export(zelig2gamma.mixed)
export(zelig2logit.mixed)
export(zelig2ls.mixed)
export(zelig2poisson.mixed)
export(zelig2probit.mixed)
