export(model.frame.lmer)
export(param.gamma.mixed)
export(zelig2gamma.mixed)
export(zelig2logit.mixed)
export(zelig2ls.mixed)
export(zelig2poisson.mixed)
export(zelig2probit.mixed)
importFrom(Zelig,describe)
importFrom(Zelig,param)
importFrom(Zelig,qi)
S3method(coef,zelig)
S3method(describe,gamma)
S3method(describe,logit)
S3method(describe,ls)
S3method(describe,poisson)
S3method(describe,probit)
S3method(param,gamma.mixed)
S3method(param,logit.mixed)
S3method(param,ls.mixed)
S3method(param,poisson.mixed)
S3method(param,probit.mixed)
S3method(plot,zelig)
S3method(qi,gamma.mixed)
S3method(qi,logit.mixed)
S3method(qi,ls.mixed)
S3method(qi,poisson.mixed)
S3method(qi,probit.mixed)
S3method(vcov,zelig)
